@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: normal 16px sans-serif;
    color: #666;
    scroll-behavior: smooth !important;
}

hr {
    width: 150px;
    height: 2px;
    background-color: #2196f3;
    border: 0;
    margin-bottom: 80px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 100px;
}



/*Utilities*/
img{
    max-width: 100%;
}



/* Navegation Section*/

.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

nav,ul{
    flex: 1;
    list-style: none;
    text-align: right;
}

nav ul li{

    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font: bold 20px 'Maven Pro', san-serif;
}


nav ul li a:hover{
    color: #FF8A05;
}

.navbar span{
    font: bold 20px 'Maven Pro', san-serif;
    color: black;
    margin-top: 20px;
}


/* Main Page(class "row") Section*/

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.colm-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.colm-1 h2{
    font: bold 50px 'Maven Pro', san-serif;
    margin: 20px 0 10px;
    color: black;
}
.colm-1 p{
    font: bold 20px 'Maven Pro', san-serif;
    color: #BDBDBD;
    margin: 40px 0;
}

button{
    width: 240px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: white;
    background-color: #FF8A05;
    border-radius: 30px;
    cursor: pointer;
    font: semi-condensed 24px 'Maven Pro', san-serif;
}

.colm-2{

}
.colm-2 .artesano_with_mate{
    width: 100%;
}


/*Supports Section*/

.supports{
    background-color: #ffffff;

}

.supports .grid li{
    flex-basis: 20%;
    text-align: center;
    padding: 30px;
    text-align: center;
}

section h3.title{
    color: #414a4f;
    text-transform: capitalize;
    font: bold 32px 'Maven Pro', san-serif;
    margin-bottom: 35px;
    text-align: center;
}

.supports h4{
    font-size: 20px;
    color: #BDBDBD;
    padding: 10px;
    text-align: center;
}

section p{
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}

ul.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Services Section */

.services{
    background-color: #ffffff;

}

.services .grid li{
    flex-basis: 24%;
    text-align: center;
    padding: 70px;

}

.services .grid li i{
    font-size: 80px;
    color: #222222;
    margin-bottom: 25px;
}

.services .grid li h4{
    color: #FF8A05;
    font: bold 32px 'Maven Pro';
    margin-bottom: 25px;
}

.services .grid li p{
    margin: 0;
}


.services h4{
    font-size: 20px;
    color: #FF8A05;
    padding: 10px;
    text-align: center;
}

.services h1{
    font-size: 40px;
    color: black;
    padding: 1px;
    text-align: center;
}